<!DOCTYPE html>
<html lang = "ro"> 
<head>
    <title>Noir Threads</title>
    
    <meta name="keywords" content=" haine, rochie, tricou, bocanci, platforme, negru, pantofi, magazin, rock, goth, alternativ, metal, nu metal, punk, emo, grunge, steampunk, merchandise, merch">
    <meta name="description" content="Descoperă o gamă variată de haine și merchandise pliate pe stilul alternativ, metal și excentric. Participă la jocul zilnic și câștigă reduceri pentru comenzile tale. Alege din produsele noastre unice și beneficiază de livrare rapidă la domiciliu sau pick-up din magazin.">

    <%- include("../fragmente/head.ejs") %>

 </head>
 <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="despre">
            <h2>Despre noi</h2>
            <p>
                <b>Moda alternativă</b> nu înseamnă doar haine. Este o declarație, o atitudine, un stil de viață.  
                De aceea, am creat acest magazin pentru toți cei care trăiesc prin <b>muzică, artă</b> și <b>expresie liberă</b>.
            </p>
            <p>
                Dacă iubești <b>rock</b>, <b>goth</b>, <b>metal</b> sau influențe <b>punk</b>, <b>emo</b>, <b>grunge</b> și <b>steampunk</b>,  
                aici nu vei găsi doar haine - vei găsi o <em>comunitate</em>.
            </p>
            <h3>De unde a început totul?</h3>
            <p>
                Totul a pornit din pasiunea noastră pentru <b>muzică</b> și cultura <b>alternativă</b>.  
                Am vrut să oferim un loc unde fiecare să găsească:  
            </p>
            <ul>
                <li><b>Tricoul perfect</b> cu trupa preferată  <span class="fa-solid fa-guitar"></span> </li>
                <li>O <b>rochie gotică</b> care atrage privirile  <span class="fa-solid fa-heart"></span></li>
                <li>O pereche de <b>bocanci</b> care îți dau încredere <span class="fa-solid fa-shoe-prints"></span></li>
            </ul>
            <p>
                De-a lungul timpului, am adus cele mai bune <i>merchandise-uri</i> oficiale și branduri care definesc acest stil.
            </p>
            <blockquote>
                <q>Rock and roll is about attitude, belief in yourself, and a desire to express who you are.</q>  
                <br>- Ozzy Osbourne
            </blockquote>
            <p><b>Bine ai venit în lumea noastră. Bine ai venit ACASĂ! <span class="fa-solid fa-hand-peace"></span></b></p>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
 </body>
</html> 