<!DOCTYPE html>
<html lang = "ro"> 
<head>
    <title>Noir Threads</title>
    
    <meta name="keywords" content=" haine, rochie, tricou, bocanci, platforme, negru, pantofi, magazin, rock, goth, alternativ, metal, nu metal, punk, emo, grunge, steampunk, merchandise, merch">
    <meta name="description" content="Descoperă o gamă variată de haine și merchandise pliate pe stilul alternativ, metal și excentric. Participă la jocul zilnic și câștigă reduceri pentru comenzile tale. Alege din produsele noastre unice și beneficiază de livrare rapidă la domiciliu sau pick-up din magazin.">

    <%- include("../fragmente/head.ejs") %>

 </head>
 <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="despre">
            <h2>Despre noi</h2>
            <p>
                <b>Moda alternativă</b> nu înseamnă doar haine. Este o declarație, o atitudine, un stil de viață.  
                De aceea, am creat acest magazin pentru toți cei care trăiesc prin <b>muzică, artă</b> și <b>expresie liberă</b>.
            </p>
            <p>
                Dacă iubești <b>rock</b>, <b>goth</b>, <b>metal</b> sau influențe <b>punk</b>, <b>emo</b>, <b>grunge</b> și <b>steampunk</b>,  
                aici nu vei găsi doar haine - vei găsi o <em>comunitate</em>.
            </p>
            <h3>De unde a început totul?</h3>
            <p>
                Dintotdeauna am avut o pasiune pentru <b>muzică</b> și cultura <b>alternativă</b>.  
                Am vrut să oferim un loc unde fiecare să găsească:  
            </p>
            <ul>
                <li><i>Merchandise</i> cu trupa preferată  <span class="fa-solid fa-guitar"></span> </li>
                <li>O <b>rochie gotică</b> care atrage privirile  <span class="fa-solid fa-heart"></span></li>
                <li>O pereche de <b>bocanci</b> care îți dau încredere <span class="fa-solid fa-shoe-prints"></span></li>
            </ul>
            <br>
            <div id="text-coloane">
                <p>
                Așadar, totul a început cu un vis comun între câțiva prieteni, când am realizat că nu existau locuri dedicate celor care trăiesc și respiră cultura alternativă în orașul nostru natal. Ne-am dorit să creăm un spațiu care să reflecte acea energie, acea libertate și acea pasiune care definesc subculturi ca rock, metal, goth și multe altele.
                Drumul nu a fost ușor. Am început cu puțin, cu un plan ambițios, dar cu multe provocări pe parcurs. Am făcut zeci de telefoane, am căutat parteneri și am negociat cu furnizori care înțelegeau cu adevărat cultura alternativă. Fiecare decizie a fost o alegere conștientă: ce înseamnă să sprijini cu adevărat o comunitate și să fii autentic în ceea ce oferi. Am învățat rapid despre ce presupune administrarea unui magazin, despre gestionarea stocurilor, despre cum să construim un site care să capteze esența a ceea ce voiam să împărtășim. A fost multă muncă în spatele scenelor, de la crearea unei platforme online care să fie intuitivă și ușor de folosit, până la asigurarea unui serviciu de livrare rapid și eficient. Fiecare pas a fost o lecție în încredere, perseverență și adaptabilitate. Când am deschis oficial ușile magazinului, care deja își mutase sediul din orașelul nostru mic în jungla urbana românească, București, a fost o mare realizare. Știam că drumul abia începea, dar simțeam deja că am reușit să punem bazele unui loc special. Un loc care nu doar că vindea produse, ci și construia o legătură între oameni, un loc în care fiecare persoană care intră să simtă că face parte dintr-o comunitate autentică. Astăzi, privim în urmă cu mândrie. De la acea seară în care am visat să avem un loc dedicat culturii alternative, până la acum, am învățat și am crescut alături de voi, clienții noștri, care ne susțineți în fiecare zi.
                </p>
            </div>
            <br>
            <blockquote>
                <q>Rock and roll is about attitude, belief in yourself, and a desire to express who you are.</q>  
                <br>- Ozzy Osbourne
            </blockquote>
            <p><b>Bine ai venit în lumea noastră. Bine ai venit ACASĂ! <span class="fa-solid fa-hand-peace"></span></b></p>
            <div id="container-reflexie">
                <h2 id="text">Echipa noastră</h2>
                <h2 id="text-reflectat">Echipa noastră</h2>
            </div>
            <div id="imagine"></div>

            <table id="tabelescu">
                <thead>
                    <tr>
                        <th>Nume</th>
                        <th>Rol</th>
                        <th>Specializare</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lilith Blackwood</td>
                        <td>Manager magazin</td>
                        <td>Organizare evenimente alternative</td>
                        <td>lilith@noirthreads.com</td>
                    </tr>
                    <tr>
                        <td>Raven Nightshade</td>
                        <td>Vânzări</td>
                        <td>Stil goth romantic & victorian</td>
                        <td>raven@noirthreads.com</td>
                    </tr>
                    <tr>
                        <td>Morrigan Crow</td>
                        <td>PR și Social Media</td>
                        <td>Branding alternativ</td>
                        <td>morrigan@noirthreads.com</td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section id="despre-goth" style="padding: 2rem;">
            <h2 style="text-align: left;">Despre Goth</h2>
            <div id="video-despre-goth" style="display: flex; justify-content: center;">
                <video width="800" height="330" controls poster="/resurse/imagini/Thumbnail.png" preload="metadata">
                    <source src="/resurse/video/Goth-HISTORY.mp4" type="video/mp4">
                    <source src="/resurse/video/Goth-HISTORY.ogv" type="video/ogv">
                    <source src="/resurse/video/Goth-HISTORY.mov" type="video/mov">
                    <track default src="/resurse/subtitrari/Goth-RO.vtt" kind="captions" srclang="ro" label="romana" />
                    <track src="/resurse/subtitrari/Goth-EN.vtt" kind="captions" srclang="en" label="engleza" />
                    <track src="/resurse/subtitrari/Goth-ES.vtt" kind="captions" srclang="es" label="spaniola" />
                </video>
            </div>
            <h2>Pionieri ai culturii Goth</h2>
            <table id="transpus">
                <thead>
                    <tr>
                        <th>Nume</th>
                        <th>Domeniu</th>
                        <th>Contribuție</th>
                        <th>Perioadă</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Siouxsie Sioux</td>
                        <td>Muzică</td>
                        <td>Lider Siouxsie and the Banshees</td>
                        <td>1976 - prezent</td>
                    </tr>
                    <tr>
                        <td>Peter Murphy</td>
                        <td>Muzică</td>
                        <td>Vocalist Bauhaus ("Bela Lugosi's Dead")</td>
                        <td>1978 - prezent</td>
                    </tr>
                    
                </tbody>
            </table>
          </section>
          
    </main>
    <%- include("../fragmente/footer.ejs") %>
 </body>
</html> 