<!DOCTYPE html>
<html lang = "ro"> 
<head>
    <title>Noir Threads</title>
    
    <meta name="keywords" content="haine, rochie, tricou, bocanci, platforme, negru, pantofi, magazin, rock, goth, alternativ, metal, nu metal, punk, emo, grunge, steampunk, merchandise, merch">
    <meta name="description" content="Descoperă o gamă variată de haine și merchandise pliate pe stilul alternativ, metal și excentric. Participă la jocul zilnic și câștigă reduceri pentru comenzile tale. Alege din produsele noastre unice și beneficiază de livrare rapidă la domiciliu sau pick-up din magazin.">

    <%- include("../fragmente/head.ejs") %>

 </head>
 <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section>
            <h2>Galerie</h2>
            <p>Poze cu outfit-urile clienților noștri!</p>
            <%- include("../fragmente/galerie.ejs") %>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
 </body>
</html> 