/* ============================== */

html{

  /* --culoare-titlu: #e63946; 
  --spatiere-pagina: 100px;
  --culoare-text: #e5e5e5; 
  --culoare-fundal: #111111; 
  --culoare-chenar: #1e1e1e; 
  --culoare-highlight: #8f43ee; */

  --culoare-text: #d9c5b2; 
  --culoare-fundal:#14110f; 
  --culoare-chenar: #34312d; 
  --culoare-highlight: #e63946; 
  --culoare-umbra: #7E7F83;
  --culoare-deschisa: #f3f3f4;
  --margine: 30px;

  font-size: 18px;
  font-family: 'Garamond', serif;

  transition: font-size 0.3s ease-in-out;
}

/* ============================== */

body{
  background-color: var(--culoare-fundal);
  color: var(--culoare-text);
  margin: var(--margine);
  --spatiere-pagina: 80px;
}

main {
  padding-left:var(--spatiere-pagina);
  padding-right:var(--spatiere-pagina);
  padding-bottom: var(--spatiere-pagina);  
}

/* ============================== */

#grid-continut {
  display: grid;
  /* grid-template-areas:
       "despre despre despre despre"
       "categorii-haine categorii-haine trupe trupe"
       "categorii-haine categorii-haine marci marci"
       "orar noutati noutati anunturi "
       "qa qa qa qa"; */
  grid-template-areas: 
    "despre despre despre despre"
    "noutati noutati orar orar"
    "noutati noutati anunturi anunturi"
    "trupe categorii-haine categorii-haine marci"
    "qa qa qa qa";
  gap: 30px;
}

#grid-continut > figure{
  margin: 0;
}

#anunturi{ grid-area: anunturi; }
#orar { grid-area: orar; overflow-x: auto; }
#noutati { grid-area: noutati; }
#despre { grid-area: despre; }
#categorii-haine { grid-area: categorii-haine; }
#trupe { grid-area: trupe; }
#marci { grid-area: marci; }
#qa { grid-area: qa; }
#slideshow-trupe{ display: block; }
#slideshow-marci{ display: block; }

/* ============================== */

.orar-div{
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid;
  overflow-x: auto; 
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: var(--culoare-fundal);
  line-height: 3rem;
}

thead, tfoot {
  background-color: var(--culoare-fundal);
  color: var(--culoare-text);
  padding: 10px;
}

tbody td:nth-child(odd) {
  background-color: var(--culoare-umbra);
}

tbody td:nth-child(even) {
  background-color: var(--culoare-text);
}

tbody tr:hover td {
  background-color: var(--culoare-deschisa);
  transition: 0.5s;
}

tbody tr:hover td:hover {
  background-color: var(--culoare-highlight);
  transition: 0.3s;
}

caption {
  caption-side: bottom;
  font-style: italic;
  color: var(--culoare-text);
}

/* ============================== */

h1{
  font-size: 5rem;
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {    
  color: var(--culoare-highlight);
  align-items: center;
}

/* ============================== */

section{
  background-color: var(--culoare-chenar);
  padding: 10px;
  border-radius: 20px;
  border-style: groove;
  border-color: var(--culoare-fundal);
  box-shadow: 5px 10px var(--culoare-umbra);

}

footer{
  background-color: var(--culoare-chenar);
  padding: 10px;
  border-radius: 20px;
}

/* ============================== */

#link-top {
  position: fixed;
  bottom: 0.3em;
  right: 0.3em;
  width: 3rem;
  height: 3rem;

  box-sizing: border-box;
  opacity: 0.5;

  border: 3.5px solid;
  border-right-color: var(--culoare-highlight);
  border-left-color: var(--culoare-highlight);
  border-top-color: var(--culoare-chenar);
  border-bottom-color: var(--culoare-chenar);
  border-radius: 50%;
  background: var(--culoare-text);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: inset 0px 0px 10px var(--culoare-fundal);
  text-decoration: none;
  transition: 1s ease-in-out;
}

#link-top:hover {
  opacity: 1;
  transform: rotate(90deg);
}

#sageata {
  display: block;
  color: var(--culoare-fundal);
  font-size: 2rem;
  font-weight: bold;
  filter: blur(3px);
  transition: 1s ease-in-out;
}

#link-top:hover #sageata {
  transform: rotate(-90deg);
  transition: 1s ease-in-out;
  filter: none;
}

/* ============================== */

.taburi-iframe > a{
  display: block;
  width: 100px;
  height: 50px;

  background-color: var(--culoare-text);
  color: var(--culoare-fundal);  
  text-align: center;
  text-decoration: none;

  padding-top: 10px;
  margin-left: 1rem;
  box-shadow: inset 0px 5px 10px var(--culoare-fundal);
  border: 1px solid var(--culoare-fundal);
  border-radius: 10px;

  font-size: 15px;
 
  position: relative;
  height: 40px;
  z-index: 1;
}

.taburi-iframe a:hover::before {
  opacity: 1;
}

.taburi-iframe a::before {

  opacity: 0;
  position: absolute;
  transition: all 1s linear;
  content: " ";
  display: block;

  inset: 0; /*width height 100%, top left right bot 0*/

  z-index: -1;

  background: var(--culoare-highlight);

  box-shadow: inset 0px 5px 10px var(--culoare-fundal);
  border-radius: 9px;

}

.taburi-iframe a::after{
  opacity: 1;

  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;

  z-index: 2; 

  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--culoare-fundal);

}

.taburi-iframe{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.container-iframe{
  width: 60%;
  max-width: 800px;
  min-width: 400px;
  display: flex;
  flex-direction: column-reverse;
}

.container-iframe>iframe{
  width:100%;
  border: 5px solid var(--culoare-fundal);
  border-style: outset;
} 

/* ============================== */

math {
  font-family: serif;
  font-size: 1.1em;
}

mi {
  font-style: italic;
  color: var(--culoare-highlight);
}

mo {
  font-weight: bold;
}

/* ============================== */

a {
  color: var(--culoare-text);
 }
  
nav {
  background-color: var(--culoare-chenar);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: var(--margine);
}
  
nav a:hover {
  color: var(--culoare-highlight);
}

/* ============================== */

img, video {
  width: 100%;
  max-width: 600px;
  min-width: 100px;
  display: block;
}

figcaption {
  display: block;
  text-align: center;
  margin: 1rem;
}

figure {
  display: flex;
  flex-direction: row;
  align-content: center; 
  justify-content: center; 
}
  
/* ============================== */

@media screen and (max-width:1200px){

  html{
    font-size: 16px;
  }
  body{
    --spatiere-pagina:50px;
    --margine: 20px;
  }   

  #grid-continut {
    display: grid;
    grid-template-areas:
    "despre despre"
    "noutati orar"
    "noutati anunturi"
    "categorii-haine marci"
    "categorii-haine trupe"
    "qa qa";
    gap: 15px;
  }

}

@media screen and (max-width:800px){

  html{
    font-size: 14px;
    animation: none;
    transition: none;
  }
  body{
    --spatiere-pagina:25px;
  }

  #grid-continut{
    display: grid;
    grid-template-areas:
            "despre"
            "orar"
            "noutati"
            "anunturi"
            "trupe"
            "categorii-haine"
            "marci"
            "qa";
    gap: 10px;
  }
}
