#hamburger, #ch-menu {
    display: none;
}

nav{
    background-color: var(--culoare-highlight);
    --inaltime-meniu:30px;
    --latime-buton:150px;

    height:var(--inaltime-meniu);
    position: sticky;

    top: 0;
    z-index: 10;

    margin-bottom: 10px;
    border-radius: 20px;

}

ul.meniu li div.imag-icon{
    display: none;
}

ul.meniu ul { /*submeniu ascuns?*/
    display: block;
    opacity: 0;
    transform: scaleY(0);
    transition: 3s ease-in-out;
    transform-origin: top;
    padding:0;
    top: 0;
    margin: 0;
    list-style-type: none;
}

ul.meniu{
    display: flex;
    list-style-type: none;
    padding:0;

}

ul.meniu li {
    width:var(--latime-buton);
    height:var(--inaltime-meniu);
    border: 2px solid var(--culoare-chenar);
    left:-1px;
    box-sizing: border-box; /*include in width si height SI latimea si inaltimea borderului*/
    text-align: center;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
    transition: all 1s linear;

    padding:0;
    margin:0;

}

ul.meniu li:hover {
    background-color: var(--culoare-text);

}

ul.meniu li:hover ul{
    display: inline-block;
    background-color: var(--culoare-umbra);
    width: var(--latime-buton);
    position: relative;
    left:-1px;

    word-wrap: break-word;
    transition: all 1s linear;
    transform: scaleY(1);
    opacity: 1;
}

/* Pentru section link-uri in pagina curenta -- vezi structura html intai ==> <ul> <div> <a> </a> </div> <ul>*/
/* 
ul.meniu li:hover> .text-icon a,ul.meniu li:hover>div{
    color: blue;
    text-shadow: 1px 1px 3px magenta;
} */
ul.meniu li> a{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 1s ease-in-out;
}

ul.meniu li:hover> a{
    
    text-decoration-color: var(--culoare-fundal);
}
ul.meniu li:hover>div{
    text-shadow: 1px 1px 3px var(--culoare-fundal);
}

ul.meniu a,ul.meniu div{
    color: var(--culoare-fundal);
    text-decoration: none;
    transition: all 1s linear;
    text-shadow: 0 -15px transparent;
    display: block;
    height:100%;
    cursor:pointer;
   
}

