main {
  --padd-main: 1rem;
  padding-left: var(--spatiere-pagina);
  padding-right: var(--spatiere-pagina);
  padding-bottom: var(--spatiere-pagina);
}

/* ----- STILIZARE FILTRE -----*/

/* ----- STILIZARE PRODUSE SI GRID PRODUSE -----*/

.grid-produse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-produse .produs {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem var(--culoare-umbra);
  transition: transform 0.3s ease-in-out;
  border: 2px solid var(--culoare-highlight);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 3.5rem;
}


.grid-produse .produs:hover {
  transform: scale(1.02);
}

.grid-produse .produs h3 {
  background-color: var(--culoare-text);
  text-align: center;
  margin-top: 0;
  padding: 0.5rem;
  color: var(--culoare-fundal);
}

.grid-produse .produs h3 a {
  color: var(--culoare-fundal);
  text-decoration: none;
  transition: color 0.3s;
}

.grid-produse .produs h3 a:hover {
  color: var(--culoare-highlight);
}

.container-poza {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container-poza figure {
  margin: 0;
  padding: 0.5rem;
  max-width: 250px;
  width: 100%;
  border: 2px solid var(--culoare-highlight);
  border-radius: 0.5rem;
  background-color: var(--culoare-fundal);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-poza figure img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 0.5rem;
}

.grid-produse .produs .info-prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#container-pret {
  text-align: center;
  margin-top: 1rem;
}

#container-pret .pret {
  display: inline-block;
  background-color: var(--culoare-text);
  color: var(--culoare-fundal);
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 2px solid var(--culoare-highlight);
  width: fit-content;
}

.info-produse {
  background-color: var(--culoare-text);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0.5rem 0.15rem var(--culoare-umbra);
}

.selecteaza-cos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  background-color: var(--culoare-text);
  border: 2px solid var(--culoare-highlight);
  opacity: 50%;
  border-radius: 0 0 1rem 1rem;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  color: var(--culoare-fundal);
  cursor: pointer;
  transition: all 0.3s ease;
}

.selecteaza-cos:hover {
  background-color: var(--culoare-highlight);
  color: var(--culoare-fundal);
}
