<footer>
    <a href="#" title="Mergi sus" id="link-top"><div id="sageata">&#8593;</div></a>
    <address>
        <p><strong>Telefon:</strong> <a href="tel:+40712345678">+40 712 345 678</a></p>
        <p><strong>Adresă:</strong> <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Bucuresti" target="_blank">Facultatea de Matematică și Informatică</a>
            <br>
            <iframe src="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Bucuresti&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>
        <p><strong>Email:</strong> <a href="mailto:noir-threads@gmail.com">noir-threads@gmail.com</a></p>
        <p><strong>Chat:</strong> <a href="https://wa.me/40712345678" target="_blank">WhatsApp</a></p>
    </address>      
    <p><small>&copy; <time datetime="2025-03-04">2025</time></small></p>
    <p id="banner">Acesta este un proiect scolar!</p>
</footer>