<header>
    <h1>Noir Threads</h1>
    <script src="/resurse/js/tema.js"></script>
    <div class="btn-group" role="group">
        <input type="radio" class="btn-check" name="tema" id="tema-dark" value="dark" autocomplete="off">
        <label class="btn btn-outline-primary d-flex align-items-center gap-1" for="tema-dark">
            <i class="fa-solid fa-moon"></i>
        </label>

        <input type="radio" class="btn-check" name="tema" id="tema-light" value="light" autocomplete="off">
        <label class="btn btn-outline-primary d-flex align-items-center gap-1" for="tema-light">
            <i class="fa-solid fa-sun"></i>
        </label>

        <input type="radio" class="btn-check" name="tema" id="tema-alt" value="alt" autocomplete="off">
        <label class="btn btn-outline-primary d-flex align-items-center gap-1" for="tema-alt">
            <i class="fa-solid fa-heart"></i>
        </label>
    </div>



</header>
<nav>
        
    <label id="hamburger" for="ch-menu">
        <div id="hamburger-container">
            <div class="linie"></div>
            <div class="linie"></div>
            <div class="linie"></div>
          </div>              
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">            
        <li id="acasa-plus">
            <div class="imag-icon" id="acasa-mediu">
                <a href="/home">
                    <span class="fa-solid fa-house"></span>
                </a>
            </div>
            <div class="text-icon" id="acasa"><a href="/home">Acasă</a></div>

        </li>
        <li>
            <div class="text-icon" id="produse-tab">Produse</div> 
            <!-- <div class="imag-icon" id="produse-mediu" >
                <span class="fa-solid fa-shirt"></span>
            </div> -->
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <% for (let opt of locals.optiuniMeniu) { %>
                        <li>
                        <a href="/produse?categorie=<%= opt.unnest %>">
                            <%= opt.unnest.charAt(0).toUpperCase() + opt.unnest.slice(1).toLowerCase() %> <!-- sentence case-->
                        </a>
                        </li>
                    <% } %>
                </ul>

        </li>
        <li>
            <div class="text-icon" id="qa">Q&A</div><!-- va duce la alta pagina care are linkuri catre sectiuni-->
            <!-- <div class="imag-icon" id="qa-mediu" >
                <span class="fa-solid fa-comment-dots"></span>
            </div> -->
                <ul>
                    <li><a href="/qa#comenzi-qa">Comenzi</a></li>
                    <li><a href="/qa#produse-qa">Produse</a></li>
                    <li><a href="/qa#colaborare-qa">Colaborare</a></li>
                    <!-- <li><a href="#comenzi">Comenzi</a></li>
                    <li><a href="#produse-qa">Produse</a></li>
                    <li><a href="#colaborare">Colaborare</a></li> -->
                </ul>
        </li>
        <li>
            <div class="text-icon" id="despre"><a href="/despre">Despre</a></div>
            <!-- <div class="imag-icon" id="despre-mediu">
                <span class="fa-solid fa-clock-rotate-left"></span>
            </div> -->
        </li> <!-- va duce catre alta pagina ulterior -->
        <li>
            <div class="text-icon" id="galerie"><a href="/galerie">Galerie</a></div>
        </li>
    </ul>
</nav>